@model IEnumerable<Course>
@{
    ViewData["Title"] = "MostrarCourses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1 class=" animate__animated animate__rubberBand">Course´s List</h1>


<table id="mitablastu" class="table table-dark table-dark">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(x => x.Id)</th>
            <th>@Html.DisplayNameFor(x => x.Title)</th>
            <th>@Html.DisplayNameFor(x => x.Credits)</th>
            <th>Actions</th>
        </tr>

    </thead>
    <tbody>

        @foreach (var course in Model)
        {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => course.Id)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => course.Title)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => course.Credits)
                </th>

                <td>
                    <a class="btn btn-outline-primary" asp-action="Update" asp-route-id="@course.Id"><i class="fas fa-edit"></i>Update</a>

                </td>
            </tr>
        }

    </tbody>

</table>

<div style="position:fixed;right:25px; bottom:75px;" class="text-white">
    <a asp-controller="Course" asp-action="SaveCourse" class="btn btn-success">
        <i class="fas fa-plus"></i>ADD
    </a>
</div>