@model IEnumerable<Students>
@{
    ViewData["Title"] = "MostrarAlumnos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1 class=" animate__animated animate__rubberBand">Student´s List</h1>


<table id="mitablastu" class="table table-dark table-dark">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(x => x.Id)</th>
            <th>@Html.DisplayNameFor(x => x.FirstMidName)</th>
            <th>@Html.DisplayNameFor(x => x.LastName)</th>
            <th>@Html.DisplayNameFor(x => x.EnrollmentsDate)</th>
            <th>Actions</th>
        </tr>

    </thead>
    <tbody>

        @foreach (var student in Model)
        {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => student.Id)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => student.FirstMidName)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => student.LastName)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => student.EnrollmentsDate)
                </th>

                <td>
                    <a class="btn btn-outline-primary" asp-action="Update" asp-route-id="@student.Id"><i class="fas fa-edit"></i>Update</a>

                </td>
            </tr>
        }

    </tbody>

</table>

<div style="position:fixed;right:25px; bottom:75px;" class="text-white">
    <a asp-controller="Student" asp-action="SaveStu" class="btn btn-success">
        <i class="fas fa-plus"></i>ADD
    </a>
</div>